<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">   
    <title>Create Nanny Profile </title>
    <link rel="stylesheet" href="../../assets/styles/auth.css">
</head>
<body>
   <div class="profile-container">
  <h2>Complete Your Profile</h2>
  <!-- <p style="text-align: center; color: #666;">Complete your details to start matching with families.</p> -->

  <form id="nannyProfileForm">
    <div class="section">
      <h3>Personal Information</h3>
      <label for="name">Full Name</label>
      <input type="text" id="name" placeholder="Enter your official name" required />
      
      <label for="profile_photo_url">Profile Picture URL</label>
      <input type="url" id="profile_photo_url" placeholder="https://..." />
    </div>

    <div class="section">
      <h3>Vetting & Identity</h3>
      <label for="national_id_number">ID Number</label>
      <input type="text" id="national_id_number" placeholder="ID Number" required />
      
      <label for="national_id_photo_url">National ID Photo URL</label>
      <input type="url" id="national_id_photo_url" placeholder="https://..." required />
    </div>

    <div class="section">
      <h3>Experience & Availability</h3>
      <label for="years_experience">Years of Experience</label>
      <input type="number" id="years_experience" min="0" required />
      
      <label for="availability">Availability Status:</label>
      <select id="availability" required>
        <option value="full_time">Full Time</option>
        <option value="part_time">Part Time</option>
        <option value="weekends">Weekends</option>
        <option value="evenings">Evenings</option>
      </select>

      <label for="skills">Skills</label>
      <textarea id="skills" placeholder="List your skills..."></textarea>
    </div>

    <div class="section">
      <h3>Location</h3>
      <label for="address">Residential Address</label>
      <input type="text" id="address" required />
      
      <label for="preferred_location">Preferred Work Location</label>
      <input type="text" id="preferred_location" />
    </div>

    <button type="submit">Create Profile</button>
  </form>
  </div>
  <script type="module" src="../../assets/scripts/create-nanny-Controller.js"></script>
</body>
</html>
