<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Sign Up</title>
  <link rel="stylesheet" href="../../assets/styles/auth.css">
</head>
<body>

  <div class="auth-container">
    <h2>Create Account</h2>

    <form id="signupForm">    
    <input type="email" id="email" placeholder="Email" required />
    
    <div class="password-wrapper">
      <input type="password" id="password" placeholder="Password" required />
      <span id="togglePassword" class="toggle-icon">👁️</span>
    </div>
    
    <div class="strength-meter">
      <div id="strengthBar" class="bar"></div>
    </div>
    <small id="strengthText"></small>

    <input type="tel" id="phone" placeholder="Phone Number" required />

    <select id="role" required>
      <option value="">Select Role</option>
      <option value="family">Family</option>
      <option value="nanny">Nanny</option>
    </select>

    <button type="submit">Sign Up</button>
  
    </form> 
    <p>
      Already have an account?
      <a href="login.html">Login</a>
    </p>
  <div id="customAlertModal" class="alert-toast">
      <div class="alert-content">
          <span id="alertIcon"></span>
          <span id="alertMessage"></span>
      </div>
  </div>
  <script type="module" src="../../assets/scripts/authController.js"></script>
</body>
</html>
